//@import "../../../node_modules/bootstrap/scss/bootstrap-grid"
@import "bourbon"
@import "vars"

+font-face("Muller", "/font/MullerLight/MullerLight", 100, $file-formats: eot woff ttf svg)
+font-face("Muller", "/font/MullerRegular/MullerRegular", $file-formats: eot woff ttf svg)
+font-face("Muller", "/font/MullerMedium/MullerMedium", 500, $file-formats: eot woff ttf svg)
+font-face("Muller", "/font/MullerBold/MullerBold", 700, $file-formats: eot woff ttf svg)
+font-face("icomoon", "/font/icomoon/icomoon", $file-formats: eot woff ttf svg)

body
  margin: 0
  padding: 0
  font-family: $font-default

.Container
  width: 100%
  max-width: 1150px
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  box-sizing: border-box

