//@import "../../../node_modules/bootstrap/scss/bootstrap-grid"
@import "bourbon"
@import "vars"

+font-face("MuseoSansCyrl", "/font/MuseoSansCyrl100/MuseoSansCyrl100", 100, $file-formats: woff)
+font-face("MuseoSansCyrl", "/font/MuseoSansCyrl300/MuseoSansCyrl300", 300, $file-formats: woff)
+font-face("MuseoSansCyrl", "/font/MuseoSansCyrl500/MuseoSansCyrl500", 500, $file-formats: woff)
+font-face("MuseoSansCyrl", "/font/MuseoSansCyrl700/MuseoSansCyrl700", 700, $file-formats: woff)
+font-face("MuseoSansCyrl", "/font/MuseoSansCyrl900/MuseoSansCyrl900", 900, $file-formats: woff)


*
  outline: none

a, p, h1, sup, span
  color: inherit
  font-weight: inherit

sup
  font-size: 60%

b
  font-weight: 600

svg
  fill: currentColor

body
  margin: 0
  padding: 0
  font-family: $font-default
  font-size: 14px
  font-weight: 400
  color: #000
  +mf(sl)
    font-size: 16px

.fonts-stage-1 body
  font-family: $webfont-default
  line-height: 1.15

.fonts-stage-2 body
  font-family: $webfont-default
  line-height: 1.15

.Container
  width: 100%
  max-width: 1150px
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  box-sizing: border-box


.fancybox-container
  z-index: 9000

.fancybox-content
  padding: 0
