.Phone
  &-Only
    display: inherit !important
    +mf(xs)
      display: none !important
  &-Hidden
    display: none !important
    +mf(xs)
      display: inherit !important

@import "../../common.blocks/Btn/index"
@import "../../common.blocks/Btn/_disable/index"

@import "../../common.blocks/Select/index"
@import "../../common.blocks/Select/_theme_arrow/index"

@import "../../common.blocks/Input/index"
@import "../../common.blocks/Input/_error/index"

@import "../../common.blocks/Form/index"
@import "../../common.blocks/FormThx/index"

@import "../../common.blocks/ProcessingPersonalDataText/index"

@import "../../common.blocks/Logo/index"

@import "../../common.blocks/Checkbox/_theme_switch/index"


