.Header
  width: 100%
  padding: 11px 0 9px
  background-color: #ffffff
  position: absolute
  top: 0
  left: 0
  z-index: 100
  +r(xs)
    padding: 11px 0
    position: fixed
  .Container
    +r(xs)
      padding: 0
  &-Body
    display: flex
    align-items: center
    justify-content: space-between
  &-Logo

.Logo
    &-Link
      display: block
    &-Image
      max-width: 100%
      display: block

.DefmenuBtn
  display: none
  +r(xs)
    display: flex

.HeaderInfo
  display: flex
  flex-direction: column
  &-Phone

.HeaderPhone
  color: #000
  text-decoration: none
  +r(xs)
    width: 49px
    height: 45px
    padding: 16px 14px
    background: $main-color
    border-radius: 10px 0 0 10px
    display: flex
    align-items: center
    justify-content: center
  &-Number
    font-size: 22px
    font-weight: 300
    +r(xs)
      display: none
  &-Img
    display: none
    +r(xs)
      display: block

.HeaderLogin
  font-size: 16px
  font-weight: 300
  color: $main-color
  line-height: 1
  +r(xs)
    display: none

